<div class="workspace-control-wrapper">
  <header>
    <h1>Architect 3D</h1>
    <h2>by James Gabriel Goudie, Patricia Lee and Radu Laudat</h2>
  </header>

  <div class="credits-content-wrapper">
    <h2>Front End</h2>
    <ul>
      <li>Angular 9</li>
      <li>ThreeJs</li>
      <li>PeerJs</li>
    </ul>
    <h2>Back End</h2>
    <ul>
      <li>NodeJs</li>
      <li>GraphQL</li>
      <li>Postgres-Node</li>
      <li>PeerJs Server</li>
    </ul>
    <h2>Deployment</h2>
    <ul>
      <li>Heroku</li>
      <li>Ngingx</li>
      <li>Postgres</li>
    </ul>
  </div>

  <footer>
    <button mat-button (click)="navigateToHome()">Home</button>
  </footer>
</div>
