body {
  margin: 0;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
}

.panel {
  position: absolute;
  // background: #fff;
  padding: 10px;

  mat-expansion-panel {
    
    ul {
      list-style: none;
      padding: 0;
      margin: 4px;
      
      li {
        button {
          text-align: left;
          width:100%;
        }

        button:hover {
          background: #eeeeee;  
        }
      }
    }
  }
}

#help-container {
  position:absolute; 
  top: 70px; 
  left: 0; 
  padding: 10px; 
  color:white; 
  background: rgba(0,0,0,0.2);
  overflow: scroll;
  max-height: 420px;
  pointer-events: none;
}

#controls-table {
  border: none;
  width: 100%;
  td {
    padding-right: 12px;
  }
}

#file-upload {
  display: none;
}

#top-menu {
  top: 0;
  left:0;
  // padding: 0;
}

#tool-menu {
  bottom:0;
}

#side-menu {
  width: 260px;
  max-height: 96%;
  right: 0;
  top:0;
  overflow: scroll;

  mat-form-field {
    width:100%
  }
}

.delete-button {
  margin-top: 20px;
}

button {
  margin-right: 10px;;
}
