<input id="file-upload" type="file" accept="application/json" multiple="false" (change)="onFileInput($event.target.files);" (click)="$event.target.value = null">

<div id="top-menu" class="panel">
  <button mat-flat-button color="primary" [matMenuTriggerFor]="import_menu">Import</button>
  <mat-menu #import_menu="matMenu">
    <button mat-menu-item (click)="importScene()">JSON</button>
  </mat-menu>

  <button mat-flat-button color="primary" [matMenuTriggerFor]="export_menu">Export</button>
  <mat-menu #export_menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="export_download_menu">Download</button>
    <button mat-menu-item id="saveToDriveBtn" [disabled]="!isLoggedIntoGoogle()" [matMenuTriggerFor]="export_drive_menu">Save to Google Drive</button>
  </mat-menu>

  <mat-menu #export_download_menu="matMenu">
    <button mat-menu-item (click)="downloadScene('json')">JSON</button>
    <button mat-menu-item (click)="downloadScene('obj')">Wavefront (.OBJ)</button>
    <button mat-menu-item (click)="downloadScene('stl')">STL (.STL)</button>
    <button mat-menu-item (click)="downloadScene('dae')">Collada (.DAE)</button>
  </mat-menu>

  <mat-menu #export_drive_menu="matMenu">
    <button mat-menu-item (click)="uploadSceneToDrive('json')">JSON</button>
    <button mat-menu-item (click)="uploadSceneToDrive('obj')">Wavefront (.OBJ)</button>
    <button mat-menu-item (click)="uploadSceneToDrive('stl')">STL (.STL)</button>
    <button mat-menu-item (click)="uploadSceneToDrive('dae')">Collada (.DAE)</button>
  </mat-menu>

  <button mat-flat-button color="primary" id="googleSignInBtn" style="display:none">Link Google Account</button>
  <button mat-flat-button color="primary" id="googleSignOutBtn" style="display:none">Unlink Google Account</button>

  <button mat-flat-button color="basic" (click)="toggleHelpVisibility()">Toggle Help</button>
</div>

<div id="tool-menu" class="panel" >
  <mat-button-toggle-group id="tool-menu-buttons" value="Translate">
    <mat-button-toggle id="translate-btn" value="Translate" (click)="changeTool('translate')">Translate</mat-button-toggle>
    <mat-button-toggle id="scale-btn" value="Scale" (click)="changeTool('scale')">Scale</mat-button-toggle>
    <mat-button-toggle id="rotate-btn" value="Rotate" (click)="changeTool('rotate')">Rotate</mat-button-toggle>
  </mat-button-toggle-group>  
</div>

<div id="side-menu" class="panel">
  <mat-accordion multi="true" displayMode="flat">
    <mat-expansion-panel id="object-palette">
      <mat-expansion-panel-header>Add Object</mat-expansion-panel-header>
      <button mat-flat-button color="primary" (click)="addNewObject('box')">Box</button>
      <button mat-flat-button color="primary" (click)="addNewObject('cone')">Cone</button>
      <button mat-flat-button color="primary" (click)="addNewObject('pyramid')">Pyramid</button>
      <button mat-flat-button color="primary" (click)="addNewObject('cylinder')">Cylinder</button>
      <button mat-flat-button color="primary" (click)="addNewObject('sphere')">Sphere</button>
      <button mat-flat-button color="primary" (click)="addNewObject('plane')">Plane</button>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="getCurrentObject()">
      <mat-expansion-panel-header>Edit Object</mat-expansion-panel-header>

      <!-- OBJECT SPECIFIC PROPERTIES (NAME, POSITION, SCALE, ROTATION) -->
      <form [formGroup]="objForm" >
        <mat-form-field appearance="fill" color="primary">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" name="name" (change)="updateObjectName()">
        </mat-form-field>

        <mat-accordion multi="true" displayMode="flat">
          <mat-expansion-panel>
            <mat-expansion-panel-header>Position</mat-expansion-panel-header>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>X</mat-label>
              <input matInput type="number" formControlName="posX" (change)="updateObjectPosition()">
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Y</mat-label>
              <input matInput type="number" formControlName="posY" (change)="updateObjectPosition()">
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Z</mat-label>
              <input matInput type="number" formControlName="posZ" (change)="updateObjectPosition()">
            </mat-form-field>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>Scale</mat-expansion-panel-header>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>X</mat-label>
              <input matInput type="number" formControlName="scaX" (change)="updateObjectScale()">
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Y</mat-label>
              <input matInput type="number" formControlName="scaY" (change)="updateObjectScale()">
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Z</mat-label>
              <input matInput type="number" formControlName="scaZ" (change)="updateObjectScale()">
            </mat-form-field>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>Rotation</mat-expansion-panel-header>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>X</mat-label>
              <input matInput type="number" formControlName="rotX" (change)="updateObjectRotation()">
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Y</mat-label>
              <input matInput type="number" formControlName="rotY" (change)="updateObjectRotation()">
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Z</mat-label>
              <input matInput type="number" formControlName="rotZ" (change)="updateObjectRotation()">
            </mat-form-field>
          </mat-expansion-panel>

          <!-- MATERIAL (COLOR) -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>Material</mat-expansion-panel-header>
            <color-sketch disableAlpha="true" presetColors="" [color]="getCurrentObjectColor()" (onChangeComplete)="updateObjectMaterial($event)"></color-sketch>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
      <button mat-flat-button color="warn" class="delete-button" (click)="deleteCurrentObject()">DELETE OBJECT</button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Object List</mat-expansion-panel-header>
      <ul *ngFor="let obj of getObjectList()">
        <li><button mat-flat-button disableRipple="false" (click)="selectObject(obj)">{{obj.name}}</button></li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div id="help-container">
  <h2>Controls</h2>
  <table id="controls-table">
    <tr>
      <td>Translate (Grab)</td>
      <td>Shift-G</td>
    </tr>
    <tr>
      <td>Scale</td>
      <td>Shift-S</td>
    </tr>
    <tr>
      <td>Rotate</td>
      <td>Shift-R</td>
    </tr>
    <tr>
      <td>Change size of Control</td>
      <td>Shift-Plus(+) or Minus(-)</td>
    </tr>
    <tr>
      <td>Turn on Snap to Grid</td>
      <td>Hold down Shift</td>
    </tr>
    <tr>
      <td>Orbit camera</td>
      <td>Left-click and drag</td>
    </tr>
    <tr>
      <td>Pan camera</td>
      <td>Right-click and drag</td>
    </tr>
    <tr>
      <td>Zoom In/Out</td>
      <td>Scroll Up/Down</td>
    </tr>
    <tr>
      <td>Deselect selected object</td>
      <td>Shift-D</td>
    </tr>
    <tr>
      <td>Delete selected object</td>
      <td>Shift-Backspace</td>
    </tr>
    <tr>
      <td>Reset Camera view</td>
      <td>Shift-Z</td>
    </tr>
  </table>
</div>