<div style="position:absolute; top: 10px; left: 10px; color:white;">
  <h3>Controls</h3>
  <p>"G" = Grab/move | "S" = scale | R  = rotate </p>
  <p>"+/-" = increase/decrease size of control</p>
  <p>"Shift" = turn on snap to grid | "Ctrl" = turn off snap to grid</p>
  <p>"Left-click and drag" = orbit | "Right-click and drag" = pan</p>
  <p>"Scroll" = zoom in/out | "C" = reset camera</p>
  <p>"Esc" = deselect current object | "Backspace" = delete current object</p>
  <p>(Will add forms for adding objects next)</p>
</div>


<!-- <div id="editor">
  <div #rendererContainer id="rendererContainer"></div>
  <div id="boxForm">
    <form
        [formGroup]="boxForm"
        (ngSubmit)="onBoxSubmit(boxForm.value)">
      <mat-form-field>
        <mat-label>X</mat-label>
        <input matInput formControlName="x">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Y</mat-label>
        <input matInput formControlName="y">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Z</mat-label>
        <input matInput formControlName="z">
      </mat-form-field>

      <button mat-button type="submit">Create Box</button>
    </form>
  </div>
</div> -->