<div class="workspace-control-wrapper">
  <header>
    <h1>Archited 3D</h1>
    <h2>by James Gabriel Goudie & Patricia Lee and Radu Laudat</h2>
  </header>

  <div class="forms-wrapper">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Create a Workspace
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="createForm">
          <mat-form-field>
            <mat-label>Workspace ID</mat-label>
            <input matInput formControlName="workspaceId">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Workspace Password</mat-label>
            <input matInput formControlName="workspacePassword">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="userId">
          </mat-form-field>

          <button
              mat-button
              type="submit"
              (click)="onCreateSubmit(createForm.value)">
            Create Workspace
          </button>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Join a Workspace
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="joinForm">
          <mat-form-field>
            <mat-label>Workspace ID</mat-label>
            <input matInput formControlName="workspaceId">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Workspace Password</mat-label>
            <input matInput formControlName="workspacePassword">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="userId">
          </mat-form-field>

          <button
              mat-button
              type="submit"
              (click)="onJoinSubmit(joinForm.value)">
            Join Workspace
          </button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <footer>
    <a href='/credits'>credits</a>
  </footer>
</div>
